li:first-child{
    font-weight: bold;
}
li:last-child{
    font-style: italic;
}
li:nth-child(3){
    color: green;
}

.head2 h1:nth-child(2){
    font-weight: bold;
    font-style: italic;
    color: blue;
}
a:link{
    color: firebrick;
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    font-style: italic;
    font-variant: normal;
    text-decoration: wavy;
}
a:visited{
    color: red;
    text-decoration: wavy;
    font-size: 50px;
    font-weight: bold;
    font-style: italic;

}